{% comment %}
  Homepage Template
{% endcomment %}

{% section 'hero' %}

<div class="container my-5">
  <div class="text-center">
    {% section 'offers-carousel' %}
  </div>
</div>

{% section 'product-slider' %}
{% section 'perfume-slider' %}
